/* ***************************   LOGIN FORM     ************************************* */

.myrow {
  margin: 40px;
  padding: 30px;
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);      outside
  box-shadow: inset 2px 2px 5px #9499a8, inset -5px -5px 10px #fff;
  background-color: rgba(255, 255, 255, 0.6);

  &:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}

#login_form {
  color: rgba(255, 255, 255, 0.959);
  font-size: 20px;
  font-family: "Cormorant", serif;
}

.form_box {
  padding: 1px 30px;
  border-radius: 18px;
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.959);
}

#checkout {
  color: rgba(255, 255, 255, 0.925);
  font-size: 0.9rem;
  font-weight: bold;
}
#checkout:hover {
  color: rgb(255, 29, 135);
}

#checkoutDisabled {
  color: rgba(158, 155, 155, 0.925);
  font-size: 0.9rem;
}

@media (max-width: 450px) {
  .myrow {
    margin: 60px auto;
    padding: 8px;
  }
  #login_form {
    font-size: 1rem;
  }
}
