.Button {
    padding: 4px auto 4px auto;
    margin-bottom: 6px;
}

.Button .Button-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 24px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
}

.Button .Button-btn:hover {
    background: rgba(87, 83, 83, 0.575);
    border: 2px double #d90429;
}

#proimg img {
    width: 430px;
    height: auto;
    border-radius: 4px;
    padding: 10px;
    /* border: 4px double #e8ecb8cb; */
    transition: .1s ease-in-out;
}

#proimg img:hover {
    width: 420px;
    box-shadow: 0 10px 16px rgba(223, 23, 23, 0.12), 0 10px 12px rgba(44, 233, 167, 0.288);
}

#prohead {
    font-family: 'PT Serif', serif;
    background: linear-gradient(160deg, #e1cd68, #ffe66d);
    /* background: linear-gradient(160deg, #c6f3e5, #fcd80c); */
    /* TEXT GRADIENT */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.6rem;
    font-weight: 500;
    padding-bottom: 4px;
}

.listy {
    background: rgb(221, 153, 153);
    color: black;
}

.listy1 {
    color: rgba(245, 245, 245, 0.932);
    background: #0f0e0ffa;
    border: .5px solid black;
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.listy1:hover {
    color: rgb(255, 255, 255);
}

.filling {
    padding: 1px 1rem;
    border-radius: 2rem;
    font-size: 17px;
    background-color: #f8edeb;
}

.commentHead {
    color: #e9dfdd;
    font-size: 1.2rem;
}

.comment {
    color: #e9dfdd;
    font-size: 1.03rem;
}

#review hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid red !important;
}

/* list item background color  */

.bgcolor {
    background-color: #252524;
}

/* COLOURFUL BUTTONS WITH GRADIENT  */

.btnBasic {
    padding: .6rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.02rem;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 2rem;
}

.btnBasic:hover {
    background-position: right center;
    color: #000;
}

.btnBasic {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

@media (max-width: 450px) {
    #proimg img {
        width: 92vw;
    }
    #proimg img:hover {
        width: 90vw;
    }
    #prohead {
        font-size: 1.5rem;
    }
    .listy1 {
        border: .5px solid black;
        font-family: 'Cormorant', serif;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    .colGap {
        padding-top: 2rem;
    }
}